/webApp/Resources
/webApp/storage/*
!/webApp/storage/.gitkeep
/API/API_caller.py
/venv
/.idea
/API/test_url
/API/Help.png
/API/__pycache__
/API/Logs
/API/webApp
test_url/
API/WhatObjectIsThis.py
API/Mask_RCNN/samples/
portConfig.txt
/webApp/cgi-bin/__pycache__/
*.pyc
messaging_server.py
/webApp/testResizable
/webApp/testTextArea
/webApp/BeforeRefactor
messaging_client.py
gitwatcher.sh
Logs/
API/Mask_RCNN/*
!API/Mask_RCNN/mrcnn/
!API/Mask_RCNN/mask_rcnn_coco.h5
!API/Mask_RCNN/setup.py
!API/Mask_RCNN/setup.cfg
!API/Mask_RCNN/requirements.txt
!API/Mask_RCNN/README.md
!API/Mask_RCNN/LICENCE
test.txt
