/webApp/Resources
/webApp/storage/
/API/API_caller.py
/venv
/.idea
/API/test_url
/API/Help.png
/API/__pycache__
/API/Logs
/API/webApp
test_url/
API/WhatObjectIsThis.py
API/Mask_RCNN/samples/
portConfig.txt
/webApp/cgi-bin/__pycache__/
*.pyc
messaging_server.py
/webApp/testResizable
/webApp/testTextArea
/webApp/BeforeRefactor
messaging_client.py
gitwatcher.sh