/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Module: Gumpifier
Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static and initial layout for screen 2 of the webapp.  Mostly this comprises positioning, sizing
margins, and pointer events.
*/

/* === Main layout === */
* {
	box-sizing: border-box;
}

html, body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	overflow: hidden; /* Makes the window not horizontally scroll when the container box for the draggable image overflows */
}

header {
	text-align: center;
	height: 15vh;
	position: relative;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* === Initial overlay === */
/*#initOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	justify-content: center;
}

.initLogoContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#initArgonLogoContainer {width: 60%;}
#initDovetailedContainer {width: 30%;}
#initGumpifierContainer	{width: 60%;}

.initLogo {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}*/

/* === Header === */
#headerOption1 {
	height: 100%;
}

/* === Screens === */
#content-screen1, #content-screen2, #content-screenP, #content-screenB {
	/* Child properties */
	flex-grow: 5;
}

#content-screen2, #content-screenP, #content-screenB {
	display: none;
	flex-flow: column;
}

/* === Screen 1 === */
#screen1-row1 {
	flex-wrap: wrap;
}

#foregroundUploadInput, #backgroundUploadInput {
	display: none;
}

#option1Left, #option1Right {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#backgroundForm, #foregroundForm {
	display: flex;
	flex-direction: column;
}

.uploadButton {
	/* Flex child */
	flex-grow: 1;

	/* Other*/
    text-align: center;
}

#option2Left, #opt2ImageLeft, #option2Right, #opt2ImageRight, #opt2OverlayLeft, #opt2OverlayRight {
	width: 100%;
	height: 100%;
}

#option2Left, #option2Right {
	position: relative;
}

#opt2OverlayLeft, #opt2OverlayRight {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.opt2OverlayText {
	text-align: center;
}

#gumpifyButtonText {
	text-align: center;
}

/* === Footer === */
#footer {
	text-align: center;
	padding-left: 20px;
}

#footerLeft {
	float: left;
}

#footerRight {
	float: right;
	padding-right: 20px;
}

#privacyIcon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}