/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static or initial CSS style for screen 1 of the webapp.  For instance: background colours;
certain dimensions; background images (and associated positioning); text align, family, weight and size; borders.
*/

/* === Main Header font and delimiter === */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
}

header {
	background-color: rgb(198, 198, 198);
	font-family: 'Lato', sans-serif;
	font-size: 130%;
}

#headerLogo {
	background-image: url("SharedResources/Gumpifier Logo Cropped.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 7vh;
	width: 100%;
	margin-bottom: 1vh;
}

.uploadSquareMargin {
	margin: 0 7%;
}

.uploadSquare {
	width: 20vw;
	height: 20vw;
	border-radius: 5%;
	background-color: rgb(237, 237, 237);
}

.uploadIcon {
	background-image: url("SharedResources/Gumpifier_Image_Assets/Upload icon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 70%;
}

#backgroundForm, #foregroundForm {
	height: 30%;
}

#foregroundUploadButton, #backgroundUploadButton {
	font-family: 'Lato', sans-serif;
}

.uploadSquare *:hover {
	cursor: pointer;
}

.uploadButton {
	background-color: white;
	/* Margin: top/bottom left/right */
	margin: 7% 10%;
	border-radius: 20px;
}

#opt2ImageRight, #opt2ImageLeft {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#opt2OverlayRight, #opt2OverlayLeft {
	visibility: hidden;
	background-color: rgba(255, 255, 255, 0.5);
}

#option2Right:hover>#opt2OverlayRight, #option2Left:hover>#opt2OverlayLeft {
	visibility: visible;
}

.opt2OverlayText {
	background-color: white;
	height: 20%;
	margin: 0 10%;
	border-radius: 20px;
	font-family: 'Lato', sans-serif;
}

#gumpifyButton {
	height: 5vh;
	width: calc(20vw + 20vw + 14%);
	background-color: rgb(216, 162, 255);
	margin-top: 7%;
	border-radius: 20px;
}

#gumpifyButtonIcon {
	width: 3em;
	height: 3em;
	background-image: url("SharedResources/Gumpifier_Image_Assets/noun_Ping Pong Paddle Racket_970290_flip.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#gumpifyButtonText {
	font-family: 'Playfair Display', serif;
}

/* === Footer delimiter, padding, font, colour === */
#footer {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: rgb(198, 198, 198);
}

.footerElement {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 150%;
}

#argonLogo {
	background-image: url("SharedResources/argonLogo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1em;
	height: 1em;
}

#dovetailedLogo {
	background-image: url("SharedResources/Dovetailed Logo Small.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1em;
	height: 1em;
}