/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Module: Gumpifier
Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static or initial CSS style for screen 1 of the webapp.  For instance: background colours;
certain dimensions; background images (and associated positioning); text align, family, weight and size; borders.
*/

/* === Main Header font and delimiter === */
h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	text-align: center;
}

header {
	background-color: rgb(198, 198, 198);
	font-family: 'Lato', sans-serif;
	font-size: 130%;
}

/* === Initial overlay === */
/*#initOverlay {
	background-color: white;
}

.initLogo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

#initArgonLogo {background-image: url("SharedResources/argonLogo.jpg");}
#initDovetailedLogo {background-image: url("SharedResources/dovetailedLogo.jpg");}
#initGumpifierLogo {background-image: url("SharedResources/gumpifierLogo.png");}

#initArgonLogo {opacity: 1.0;}
#initDovetailedLogo	{opacity: 0.0;}
#initGumpifierLogo	{opacity: 0.0;}*/

/* === Header === */
#headerLogo {
	background-image: url("SharedResources/Gumpifier_Image_Assets/New Gumpifier logo transp.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 7vh;
	width: 100%;
	margin-bottom: 1vh;
}

/* === Main content === */
.uploadSquareMargin {
	margin: 7%;
}

.uploadSquare {
	width: 20vmax;
	height: 20vmax;
	border-radius: 5%;
	background-color: rgb(237, 237, 237);
}

.uploadIcon {
	background-image: url("SharedResources/Gumpifier_Image_Assets/Upload icon.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	flex-grow: 1;
}

#foregroundUploadButton, #backgroundUploadButton {
	font-family: 'Lato', sans-serif;
}

.uploadSquare *:hover {
	cursor: pointer;
}

.uploadButton {
	background-color: white;
	/* Margin: top/bottom left/right */
	margin: 7% 10%;
	padding: 5px;
	border-radius: 20px;
	min-height: 30%;
}

#opt2ImageLeft, #opt2ImageRight {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#opt2OverlayLeft, #opt2OverlayRight {
	visibility: hidden;
	background-color: rgba(255, 255, 255, 0.5);
}

#option2Left:hover>#opt2OverlayLeft, #option2Right:hover>#opt2OverlayRight {
	visibility: visible;
}

.opt2OverlayText {
	background-color: white;
	height: 20%;
	margin: 0 10%;
	border-radius: 20px;
	font-family: 'Lato', sans-serif;
}

#gumpifyButton {
	height: 5vh;
	width: calc(20vw + 20vw + 14%);
	background-color: rgb(194, 145, 229);
	border-radius: 20px;
}

#gumpifyButtonText {
	font-family: 'Lato', sans-serif;
}

/* === Footer delimiter, padding, font, colour === */
#footer {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	background-color: rgb(198, 198, 198);
}

.footerText {
	font-family: "Lato", sans-serif;
}

#argonLogo {
	background-image: url("SharedResources/argonLogo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.5em;
	height: 1.5em;
}

#dovetailedLogo {
	background-image: url("SharedResources/Dovetailed Logo Small.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.5em;
	height: 1.5em;
}

#footerRight:hover {
	cursor: pointer;
}

#privacyNoticeButton {
	font-family: "Lato", sans-serif;
}

#privacyIcon {
	background-image: url("SharedResources/Gumpifier_Image_Assets/Privacy icon.png");
	width: 1.5em;
	height: 1.5em;
}