/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Module: Gumpifier
Author : Patrick Taylor
*******************************************************************************/

/* Note the CSS here will apply across the website.  Make sure to specify the blog post classes and ids well by
using something like '#privacyNotice>.....' */

#privacyNotice>h1 {
	font-family: "Roboto", sans-serif;
}

#privacyNotice>ul {
	font-family: "Roboto", sans-serif;	
}