/* === Place images on top of each other === */
#resultPane {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.resultBackground, .resultBackgroundInner, #resultFinal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#resultForeground {
	overflow: hidden;
	position: absolute;
	/* Position set dynamically using JS*/
}

#resultForegroundInner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#containerForeground {
	position: absolute;
	/* Position set dynamically using JS*/
}

.backgroundImage {
	max-height: 100%;
	max-width: 100%;
}

#foregroundImage {
	position: absolute;
}

/* === CSS for masks and outlines === */
.mask, .outline {
	opacity: 0.7;
}

.outline {
	visibility: hidden;
}

.maskDiv, .outlineDiv {
	pointer-events: none;
}


/* === CSS for the final result pane === */
#finalImage {
	position: absolute;
	pointer-events: none;
}

/* === CSS for the RHS commands pane === */
#commandsPane {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.subCommandsPane {
	font-size: 90%;
	text-align: left;
	border-bottom: 1px solid rgb(200,200,200);
	padding-bottom: 5px;
	flex-grow: 1;
}

#commands {
	display: flex;
	flex-direction: column;
}

#xPosSpinner, #yPosSpinner, #xScaleSpinner, #yScaleSpinner {
	width: 5em;
}

#currentLayerPreviewContainer {
	flex: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border: 1px solid rgb(200,200,200);
}