/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static or initial CSS style for screen 1 of the webapp.  For instance: background colours;
certain dimensions; background images (and associated positioning); text align, family, weight and size; borders;
opacity; cursor style.
*/

/* Original opacity for all masks was 0.7 */
.mask {
	opacity: 0.8;
}

.behind .mask {
	opacity: 0.5;
}	

#resultForegroundWidgets {
	border-style: solid;
	border-width: 1px;
	border-image-source: url("SharedResources/border.png");
	border-image-slice: 1 1 1 1;
	border-image-repeat: repeat;
	/*border-image-source: linear-gradient(white, white 50%, black 50%, black);*/	
}

/* use foregroundImage:hover (instead of the perhaps more semantically correct resultForegroundWidgets:hover) so
pointer-events capturing remains correct */
#foregroundImage:hover {
	cursor: move;
}

/* Select elements with id containing subset of "CornerScaleDiv" */
[id*="CornerScaleDiv"] {
	width: 10px; /* If these change, update scaleHandleDim in JS to match */
	height: 10px; /* If these change, update scaleHandleDim in JS to match */
	background-color: rgb(165,75,255);
	border: 1px solid white;
}

#overlayText, #clone {
	background-color: transparent;
	font-family: "impact";
	/* https://css-tricks.com/adding-stroke-to-web-text/ */
	color: white;
	text-shadow: 
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-size: 300%;
	text-align: center;
	border: none;
}

#clone {
	/* Either of the below option work */
	/*position: absolute;*/
	display: none;
}

#overlayTextDiv>.ui-wrapper {
	/* We set 'none' here so html2canvas behaves correctly */
	border: 1px none rgb(169, 169, 169);
}

#overlayTextDragIconTL, #overlayTextDragIconBR {
	background-image: url("SharedResources/GrabArrow.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#overlayTextDragIconTL:hover, #overlayTextDragIconBR:hover {
	cursor: move;
}

/* === CSS for the instructions text === */
#instructions {
	background-color: rgba(255, 255, 255, 0.9);
}

#instructionsText {
	font-family: 'Quicksand', sans-serif;
}

#instructionsText>ul {
	list-style-position: inside;
}