/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static or initial CSS style for screen 1 of the webapp.  For instance: background colours;
certain dimensions; background images (and associated positioning); text align, family, weight and size; borders;
opacity; cursor style.
*/

/* === CSS for the header === */
#headerOption2 {
	background-color: rgb(216, 162, 255);
}

#headerClose {
	background-image: url("SharedResources/Gumpifier_Image_Assets/Exit icon.png");
	/*background-size: contain;*/
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;

	cursor: pointer;
}

#headerTextMain {
	margin-bottom: 2%;
}

#headerTextMain, #headerTextSub {
	text-align: left;
	padding-left: 2%;
}

#headerTextSub {
	font-size: 90%;
	overflow: auto;
}

/* Original opacity for all masks was 0.7 */
.mask {
	opacity: 0.8;
}

.behind .mask {
	opacity: 0.5;
}	

#resultForegroundWidgets {
	border-style: solid;
	border-width: 1px;
	border-image-source: url("SharedResources/border.png");
	border-image-slice: 1 1 1 1;
	border-image-repeat: repeat;
	/*border-image-source: linear-gradient(white, white 50%, black 50%, black);*/	
}

/* use foregroundImage:hover (instead of the perhaps more semantically correct resultForegroundWidgets:hover) so
pointer-events capturing remains correct */
#foregroundImage:hover {
	cursor: move;
}

/* Select elements with class containing subset of "CornerScaleDiv" */
[class*="CornerScaleDiv"] {
	width: 10px; /* If these change, update scaleHandleDim in JS to match */
	height: 10px; /* If these change, update scaleHandleDim in JS to match */
	background-color: rgb(165,75,255);
	border: 1px solid white;
}

#overlayText, #clone {
	background-color: transparent;
	font-family: "impact";
	/* https://css-tricks.com/adding-stroke-to-web-text/ */
	color: white;
	text-shadow: 
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	font-size: 300%;
	text-align: center;
	border: none;
}

#clone {
	/* Either of the below option work */
	/*position: absolute;*/
	display: none;
}

#overlayTextDiv:hover {
	cursor: move;
}

#overlayTextDiv>.ui-wrapper {
	/* We set 'none' here so html2canvas behaves correctly */
	/*border: 1px none rgb(169, 169, 169);*/
	border-width: 1px;
	border-image-source: url("SharedResources/border.png");
	border-image-slice: 1 1 1 1;
	border-image-repeat: repeat;
}

/* === CSS for the commands bar and buttons === */
#canvasCommandsOuter {
	margin: 0.5vw 0;
}

.commandButton {
	background-color: rgb(237, 237, 237);
	border-radius: 1vw;
	margin: 0 0.5vw;
	cursor: pointer;
	font-family: "Lato", sans-serif;
}

#commandButtonRedo {
	margin-right: 0;
}

.commandIcon {
	width: 3vw;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#finalCommands {
	padding-bottom: 2vw;
	padding-top: 2vw;
}

.finalButton {
	background-color: rgb(237, 237, 237);
	color: black;
	border: none;
	padding: 15px 40px;
	border-radius: 20px;
	cursor: pointer;
	margin: 0 1vw;
	font-family: "Lato", sans-serif;
}

#commandIconEdit {background-image: url("SharedResources/Gumpifier_Image_Assets/Edit icon.png");}
#commandIconUndo {background-image: url("SharedResources/Gumpifier_Image_Assets/Undo icon.png");}
#commandIconRedo {background-image: url("SharedResources/Gumpifier_Image_Assets/Redo icon.png");}

/* === CSS for the colour correction box === */
#editCommands {
	background-color: rgb(237, 237, 237);
	padding: 20%;
	border-radius: 20px;
	font-family: "Lato", sans-serif;
	cursor: auto;
}

#triangle {
	cursor: auto;
}

/* === CSS for the instructions text === */
#instructions {
	background-color: rgba(255, 255, 255, 0.9);
}

#instructionsText {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#instructionsText>ul {
	list-style-position: inside;
}