/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static and initial layout for screen 2 of the webapp.  Mostly this comprises positioning and
sizing and pointer events.
*/

/* === CSS for the header === */
#headerOption2 {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#headerLeft {
	width: 90%;
}

#headerRight {
	flex-grow: 1;
}

#headerClose {
	width: 100%;
	height: 100%;
}

/* === CSS for the editing area === */
#resultPaneOuter {
	flex-grow: 1;
	position: relative;
}

#resultPane {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;

	overflow: hidden; /* Needed so foregroundContainer doesn't force scrollbards to show */

	text-align: center;
}

.resultBackground, .resultBackgroundInner, #resultFinal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#resultForeground {
	overflow: hidden;
	position: absolute;
	/* Position set dynamically using JS*/
}

#resultForegroundInner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* === CSS for the widgets === */
#resultForegroundWidgets {
	position: absolute;
}

#resultForegroundWidgets>.ui-resizable-handle {
	pointer-events: auto;
	z-index: 1;
}

#containerForeground {
	position: absolute;
	 /*The actual position set dynamically using JS*/

	/* We need this to be able to click through to the main buttons*/
	pointer-events: none;
}

.backgroundImage {
	max-height: 100%;
	max-width: 100%;
}

#foregroundImage {
	/*position: absolute;*/
}

/* === Draggable === */
#resultForegroundDragDiv {
	display: block;
	/*position: relative;*/
}

/* === CSS for the buttons === */
#canvasCommandsOuter {
	position: relative;
}

#canvasCommands {
	display: inline-block;
	width: 100%;
}

.commandButton {
	display: flex;
	float: right;
}

.commandIcon{
	float: left;
	width: 1.5em;
	height: 1.5em;
}

.commandText {
	float: left;
	height: 100%;
}

#commandButtonEdit {
	position: relative;
}

#triangle {
	visibility: hidden;

	position: absolute;
	top: 100%;
	right: calc(50% - 7px);
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgb(237, 237, 237);

	z-index: 2;
}

#editCommands {
	visibility: hidden;

	position: absolute;
	top: calc(100% + 7px);
	right: 0;
	z-index: 2;

	display: flex;
	flex-direction: column;
}

.editCommand {
	display: flex;
}

.editCommandSpan {
	width: 100%;
	padding-right: 20px;
}

#finalCommands			{text-align: center;}

/* === CSS for the overlay text === */
#overlayTextContainer {
	position: absolute;
	pointer-events: none;
}

#overlayTextPosition {
	position: absolute;
	pointer-events: none;
	text-align: left;
}

#overlayTextDiv {
	pointer-events: auto;
	padding: 27px;
	display: inline-block;
}

#overlayText {
	padding: 0;
	resize: none;
	overflow: hidden;
}

#overlayTextWidgets {
	position: absolute;
	pointer-events: auto;
}

/* === CSS for masks === */
.maskDiv {
	pointer-events: none;
}

/* === CSS for the final result pane === */
/*#finalImage {
	position: absolute;
	pointer-events: none;
}*/

/* === CSS for the scale grabable buttons === */
/* Select elements with class containing subset of "CornerScaleDiv" */
[class*="CornerScaleDiv"] {
	position: absolute;
}

/* === CSS for the instructions text === */
#instructions {
	position: absolute;
	z-index: 91; /* This brings the instructions in front of the JQueryUI scale handles */
	display: none; /* Have this initially then display when images have loaded */
	flex-direction: column;
}

#instructionsCloseIcon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	float: right;
}

#instructionsText {
	max-height: 100%;
	overflow: auto;
	flex-grow: 1;

	display: flex;
	flex-direction: row;

	text-align: left;
}

/* === Hover detector === */
/*#hoverDetector {
	position: absolute;
}*/