/*****************************************************************************
Argon Design Ltd. Project P8010 Spock
(c) Copyright 2018 Argon Design Ltd. All rights reserved.

Author : Patrick Taylor
*******************************************************************************/

/*
This file provides the static and initial layout for screen 2 of the webapp.  Mostly this comprises positioning and
sizing and pointer events.
*/


/* === Place images on top of each other === */
#resultPane {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.resultBackground, .resultBackgroundInner, #resultFinal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#resultForeground {
	overflow: hidden;
	position: absolute;
	/* Position set dynamically using JS*/
}

#resultForegroundInner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* === CSS for the widgets === */
#resultForegroundWidgets {
	position: absolute;
}

#resultForegroundWidgets>.ui-resizable-handle {
	pointer-events: auto;
}

#containerForeground {
	position: absolute;
	 /*The actual position set dynamically using JS*/

	/* We need this to be able to click through to the main buttons*/
	pointer-events: none;
}

.backgroundImage {
	max-height: 100%;
	max-width: 100%;
}

#foregroundImage {
	/*position: absolute;*/
}

/* === Draggable === */
#resultForegroundDragDiv {
	display: block;
	/*position: relative;*/
}

/* === CSS for the buttons === */
#canvasCommands {
	display: flex;
}

#canvasCommandsLeft, #canvasCommandsRight {
	/* Child options*/
	flex-grow: 1;
}

#editButton {
	float: left;
}

#editCommands {
	visibility: hidden;
}

#canvasCommandsRight 	{text-align: right;}
#finalCommands			{text-align: center;}

/* === CSS for the overlay text === */
#overlayTextContainer {
	position: absolute;
	pointer-events: none;
}

#overlayTextDiv {
	pointer-events: auto;
	padding-left: 20px;
	padding-top: 20px;
	display: inline-block;
}

#overlayTextDragIcon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

#overlayText {
	padding: 0;
	resize: none;
	overflow: hidden;
}

/* === CSS for masks === */
.maskDiv {
	pointer-events: none;
}

/* === CSS for the final result pane === */
/*#finalImage {
	position: absolute;
	pointer-events: none;
}*/

/* === CSS for the scale grabable buttons === */
/* Select elements with id containing subset of "CornerScaleDiv" */
[id*="CornerScaleDiv"] {
	position: absolute;
}

/* === CSS for the instructions text === */
#instructions {
	position: absolute;
	/* Center vertically */
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 91; /* This brings the instructions in front of the JQueryUI scale handles */
}

#instructionsText {
	max-height: 100%;
	overflow: auto;
}